{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": { "node": "current"}
    }]
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": "current"}
        }]
      ]
    }
  }
}
